/*Mobile devices*/
@media(max-width:340px){
    .header-content__title{
        font-size: 3.5rem;
    }

    .header-content__caption{
        font-size: 1.7rem;
    }

    .nav-menu{
        width: 17rem;
        padding: 1rem;
    }

    /*
    ******  Main-> Services  *****
    */

    .service{
        height: 24rem;
    }

    .service__caption{
        font-size: 1.2rem;
    }
}

@media(max-width:400px){
    .nav-menu{
        width: 20rem;
    }
}


@media(min-width:320px){
    
}

/*iPads, Tablets*/
@media(min-width:481px){
    
}

/*iPads, Tablets*/
@media(min-width:576px){
    /*

    ***************
        Services
    ***************

    */

    /* .services{
        gap: 1rem;
    }

    .service{
        flex-grow:  1;
    } */

}

/*Small screens, laptops*/
@media(min-width: 768px){
   .nav__btn, .nav-menu{
    display: none;
   }
   
   .menu{
    display: flex;
   }

   
}

/*Small screens, laptops*/
@media(min-width:992px){
    
    .nav__links{
        display: block;
    }

    .header-content__caption{
        max-width: 50rem;
    }
}

/*Desktops, large screens*/
@media(min-width:1025px){
  
}

@media(min-width:1200px){
   
}

@media(min-width:1400px){
   
}

@media(min-width:1600px){
    
}

@media(min-width:1900px){
   
}
