/*Mobile devices*/
@media(max-width:340px){
    .header-content__title{
        font-size: 3.5rem;
    }

    .header-content__caption{
        font-size: 1.7rem;
    }

    .nav-menu{
        width: 17rem;
        padding: 1rem;
    }

    /*
    ******  Main-> Services  *****
    */

    .service{
        height: 24rem;
    }

    .service__caption{
        font-size: 1.2rem;
    }

        /*
    ******  Main-> destinations  *****
    */

    .destinations__logo{
        width: 7.5rem;
        height: 7.5rem;
    }
    .destinatons__title{
        font-size: 2.1rem;
    }
}

@media(max-width:400px){
    .nav-menu{
        width: 20rem;
    }

    /*

    ***************
        Newsletter
    ***************

    */

    .newsletter__title{
        max-width: 25rem;
    }

    /*

    ***************
        Footer
    ***************

    */

    .footer{
        text-align: center;
    }

    .footer__right{
        justify-content: center;
    }

    .footer-list{
        /* margin: 0 auto;
        margin-bottom: 2rem; */
        width: 100%;
    }

}


@media(min-width:320px){
    
}

/*iPads, Tablets*/
@media(min-width:481px){
    
}

/*iPads, Tablets*/
@media(min-width:576px){
    /*

    ***************
        Services
    ***************

    */

    /* .services{
        gap: 1rem;
    }

    .service{
        flex-grow:  1;
    } */

}

/*Small screens, laptops*/
@media(min-width: 768px){
   .nav__btn, .nav-menu{
    display: none;
   }
   
   .menu{
    display: flex;
   }

   /*

    ***************
     Newsletter
    ***************

    */

   .newsletter{
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding: 5rem 5rem;
   }

   .newsletter::before{
    width: auto;
    height: auto;
    top: 0;
    left: -40rem;
    background-size: auto;
    background-position: center left;
   }

   .newsletter__content{
    flex-basis: 60%;
    padding-right: 4rem;
   }
   .newsletter__title{
    margin-bottom: -1rem;
   }
   .newsletter__caption{
    margin-left: 0;
    max-width: 48rem
   }
   .newsletter__banner{
    margin: 0;
    flex-basis: 40%;
   }


  
   
}

/*Small screens, laptops*/
@media(min-width:992px){
    
    .nav__links{
        display: block;
    }

    .header-content__caption{
        max-width: 50rem;
    }

    /*

    ***************
     Newsletter
    ***************

    */

    .newsletter::before{
        top: 0;
        left: -41rem;
    }

    /*

    ***************
        Footer
    ***************

    */

    

    .footer-app{
        display: block;
    }

    .footer-app--mobile{
        display: none;
    }

    .footer__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .footer__left{
        max-width: 50rem;
    }

    .footer__to-top-scroll{
        left: auto;
        margin-right: 1.5rem;
    }
    


    
   
    
}

/*Desktops, large screens*/
@media(min-width:1025px){

}

@media(min-width:1200px){

    /*

    ***************
        Header
    ***************

    */

    .header{
        min-height: 85vh;
    }

    /*

    ***************
        Newsletter
    ***************

    */

    .newsletter{
        justify-content: space-between;
        padding: 5rem 8rem;
    }
    
    .newsletter::before{
        top: 0;
        left: -30rem;
    }

    .newsletter__content{
        flex-basis: auto;
        /* width: 60rem; */
    }

     .newsletter__banner{
        flex-basis: auto;
        width: 34rem;
        height: 25rem;
    }


}

@media(min-width:1400px){
   /*

    ***************
        Newsletter
    ***************

    */

    .newsletter{
     padding: 5rem 10rem;
    }

    .newsletter::before{
        top: 0;
        left: -15rem;
    }

    .newsletter__content{
        flex-basis: 54%;
       
    }

    /*

    ***************
        Footer
    ***************

    */

    .footer__left{
        max-width: 62rem;
    }
}

@media(min-width:1600px){

    /*

    ***************
        Newsletter
    ***************

    */

    .newsletter::before{
        left: 0rem;
    }

    
}

@media(min-width:1900px){
    
}
