:root {
  /*Colors*/
  --orange: #e76f51;
  --menu-link: #d2d2d2;
  --dark-gray: #3b3735;
  --body-background: #FAF4F2;
  --light-pink: #F8E1DB;
  --light-gray--background: hsl(0deg 0% 55% / 10%);
  --gray-text: #8D8D8D;


  /*Fonts*/
  --primary-font: "Roboto",Arial, Helvetica, sans-serif;
  --primary-font-md: "Roboto-Medium",Arial, Helvetica, sans-serif;
  --secondary-font: "Archivo", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--body-background);
}

/*

    --ScrollBar--

*/

/*  For FireFox  */
html{
  scrollbar-width: thin;
  scrollbar-color: #455864 #1F272C;
}

body::-webkit-scrollbar{
  width: .7vw;
  background-color: #1F272C;
}

body::-webkit-scrollbar-track{
  border-radius: 3rem;
 
  margin-block: 1rem;
}

body::-webkit-scrollbar-thumb{
  border-radius: 3rem;
  background-color: #2c373d;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #617d8f;
}

/*

    --Reset Styles--

*/
a {
  text-decoration: none;
}

/*

--helper classes--

*/

/* .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/*

    --Component--


*/

.btn {
  display: block;
  border-radius: 10rem;
  color: #fff;
  background-color: var(--dark-gray);
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  /* display: flex;
    justify-content: center;
    align-items: center; */ /*For Centering Content*/
  margin-right: auto;
  margin-left: auto;
  font-family: var(--primary-font-md);
}

/*

    --styles--

*/

header {
  width: 100%;
  height: 76rem;
  background-image: linear-gradient(
      rgba(59, 55, 53, 0.5),
      rgba(59, 55, 53, 0.5)
    ),
    url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 18rem 18rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

/*

***************
     app-logo
***************

*/
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}

.app-logo__img {
  width: 100%;
  height: 100%;
}

/*

***************
     desktop menu
***************

*/

.menu {
  /* Shows above 768px*/
  display: none;
  /* display: flex; */
  margin-left: 3rem;
}

.menu__item {
  margin-right: 1.5rem;
}

.menu__link {
  color: var(--menu-link);
  white-space: nowrap;
  transition: color 0.2s ease-in-out;
}

.menu__link:hover {
  color: #fff;
}

.menu__link--active {
  color: #fff;
  position: relative;
  z-index: 0;
}

.menu__link--active::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  border-radius: 3rem;
  background-color: var(--orange);
  transform: rotate(45deg);
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

/*

***************
    mobile navigation menu
***************

*/

.nav-menu {
  position: fixed;
  background-image: linear-gradient(
    to top,
    rgba(27, 28, 28, 0.75),
    rgba(27, 28, 28, 0.82),
    rgb(27, 28, 28, 0.86)
  );
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 25rem;
  padding: 2.5rem;
  transition: all 0.2s ease-out;
  z-index: 1000;
}

.nav-menu--open {
  left: 0;
}

.nav-menu__title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1.8rem;
  font-family: var();
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  text-align: center;
}

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menu__item {
  margin-bottom: 1rem;
}

.mobile-menu__link {
  color: #fff;
  position: relative;
  transition: padding 0.2s ease-in-out;
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: var(--orange);
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
  border: 5rem;
}

.mobile-menu__link:hover {
  padding-left: 2.2rem;
}

.mobile-menu__link:hover::before {
  width: 1.6rem;
}

.mobile-menu__link--active {
  padding-left: 2.2rem;
}

.mobile-menu__link--active::before {
  width: 1.6rem;
}

.nav-menu__links {
  display: flex;
  text-align: center;
}

.nav-menu__link {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  display: block;
  padding: 1rem;
  flex-basis: 50%;
  transition: all 0.1s ease-in;
  white-space: nowrap;
}

.nav-menu__link:hover {
  background-color: #fff;
  color: var(--dark-gray);
}

/* .nav-menu__link--border {
} */

/*

***************
    navigation links
***************

*/

.nav__links {
  display: none;
}

.nav__link {
  color: #fff;
  font-family: var(--primary-font-md);
}

.nav__link--border {
  border: 1px solid #fff;
  padding: 1rem 3rem;
  border-radius: 3rem;
  margin-left: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.nav__link--border:hover {
  background-color: #fff;
  color: var(--dark-gray);
}

/*

***************
    mobile navigation button
***************

*/

.nav__btn {
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  position: relative;
  transition: all 250ms ease-in-out;
}

.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.9rem;
}

.nav__btn-line::after {
  top: 0.9rem;
}

.nav__btn--open .nav__btn-line {
  background: transparent;
}

.nav__btn--open .nav__btn-line::before {
  transform: translateX(-2px) translateY(9px) rotate(45deg);
  width: 3.5rem;
}

.nav__btn--open .nav__btn-line::after {
  transform: translateX(-2px) translateY(-9px) rotate(-45deg);
  width: 3.5rem;
}

/*

***************
   Header Content
***************

*/

.header-content {
  color: #fff;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  margin-top: 10rem;
}
.header-content__title {
  max-width: 35rem;
  font-size: 4.5rem;
  font-family: var(--secondary-font);
  font-weight: 900;
  line-height: 1.2;
  margin: 0 auto 3rem auto;
}
.header-content__caption {
  font-size: 1.8rem;
  margin: 0 auto 2rem auto;
  max-width: 34rem;
}

.header-conent__link {
  background-color: var(--orange);
}


/*

+++++++++++++++
    main
+++++++++++++++

*/


/* .main{
  background-color: #FAF4F2;
 
} */


/*

***************
   Services
***************

*/

.services{
  transform: translateY(-14rem);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.service{
  width: 30rem;
  height: 25rem;
  background-color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5rem;
  color: var(--dark-gray);
  flex-grow: 1;
  padding: 2rem;
}

.service:not(:nth-child(4)){
  margin-bottom: 1.9rem;
}

.service__image{
  display: block;
  width: 9rem;
  height: 9rem;
}

.service__title{
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
}

.service__caption{
  margin-left: auto;
  margin-right: auto;
  max-width: 29.4rem;
  font-size: 1.6rem;
}

/*

***************
  Destinations
***************

*/

.destinations{
  text-align: center;
  color: var(--dark-gray);
}

.destinations__logo{
  display: block;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
}

.destinatons__title{
  font-size: 3rem;
  font-family: var(--secondary-font);
  max-width: 34.5rem;
  margin: 3.4rem  auto 2.6rem auto;

}

.destinations__places{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

.place{
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 2rem;
  color: var(--dark-gray);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 30rem;
  flex-grow: 1;
  overflow: hidden;
}

.place__banner{
  position: relative;
  /* overflow: hidden; */
  height: 18rem;
  /* background-color: rgb(127, 152, 215); */
}

.place__img{
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem; */
  /* width: 28.9rem;
  height: 18rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;

}

.place__like{
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

/* .place__like--icon{
 
} */

.place__price{
  background-color: #fff;
  width: 14.5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 1.5rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -2.5rem;
}

.place__price--text{
  color: var(--orange);
  font-size: 1.6rem;
  font-family: var(--primary-font-md);
}

.place__title{
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  margin-top: 4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.place__caption{
  max-width: 29rem;
  margin: 1rem auto 2.5rem auto;
 
}

.place__link{
  background-color: var(--light-gray--background);
  color: var(--gray-text);
}

.destinations__link{
  margin-bottom: 5rem;
  background: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
  font-family: var(--primary-font-md);
  transition: all .1s ease-in;
}

.destinations__link:hover{
  color: var(--body-background);
  background-color: var(--orange);
}

/*

***************
  Newsletter
***************

*/

.newsletter{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: var(--light-pink);
  margin: 6rem 0;
  padding: 5rem 2rem;
  border-radius: 1.5rem;
  /* flex-wrap: wrap; */
  color: var(--dark-gray);
}

/* .newsletter__content{
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
} */

.newsletter__title{
  font-family: var(--secondary-font);
  font-size: 4rem;
  margin: 0 auto 1rem auto;
  line-height: 1.1;
}

.newsletter__caption{
  font-family: var(--primary-font-md);
  max-width: 30rem;
  margin: 1rem auto 2.5rem auto;
}

.newsletter__email-box{
  /* width: 33rem; */
  height: 8rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 2rem;
}

.newsletter__email-box form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newsletter__email-icon{
  flex-shrink: 0;
}

.newsletter__input{
  /* flex-grow: 1; */
  /* height: 100%; */
  width: 100%;
  border: none;
  display: block;
  padding: 0 1rem;
  outline: none;
  color: var(--gray-text);
  font-size: 1.6rem;
}

.newsletter__submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--orange);
  border-radius: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
}

.newsletter__banner{
  /* order: -1; */
  /* width: 34rem;
  height: 25rem; */
  margin: 0 auto 3.5rem auto;
}

.newsletter__img{
  flex-grow: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*

***************
  Footer
***************

*/

.footer{
  background-color: var(--light-pink);
  border-radius: 10rem 10rem 0 0;
  padding-bottom: 4rem;
}

.footer > .container{
  padding-top: 10rem;
}

.footer__to-top-scroll{
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -2.5rem;

  transition: all .2s ease-in;
}

.footer__to-top-scroll:hover{
  transform: translateY(-5px);
  box-shadow: .1px .1px 4px #000;
}

.footer__title{
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.footer__wrapper{
  /* display: flex; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.footer__copy-right{
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}
/*

***************
  Footer Left
***************

*/

.footer__left{
  max-width: 62rem;
}

.footer-content{

}

.footer-content__description{
  margin-bottom: 4rem;
}

.footer-app{

}

.footer-app__link{
  
}

.footer-app__img{

}

/*

***************
  Footer right
***************

*/

.footer__right{
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 50%; */
}

.footer-list{
  /* padding: 0 1.5rem; */
  width: 16rem;
  margin-bottom: 1rem;
}

.footer-pages__item{

}

.footer-pages__link{
  color: var(--dark-gray);
  
  transition: all .1s ease-in;
}

.footer-pages__link:hover{
  color: var(--orange);
  padding-left: 1rem;
}
